---
layout: none
---

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Applications Group - Shiv Nadar University</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container mt-5">
        <!-- People Section -->
        <section id="people">
            <h2 class="mb-4">People</h2>
            {% assign facultyList = site.data.facultyList %}
            <div class="row">
                {% for faculty in facultyList %}
                <div class="col-md-3 text-center">
                    <img src={{faculty.src}} alt={{faculty.name}} class="img-fluid rounded-circle mb-2"
                        style="width: 150px; height: 150px;">
                    {% if faculty.url %}
                    <h5><a href="{{faculty.url}}" class="link-secondary" target="_blank">{{faculty.name}} </a></h5>
                    {% else %}
                    <h5>{{faculty.name}} </a></h5>
                    {% endif %}
                    <p>{{faculty.designation}}<br />{{faculty.department}}</p>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>



    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>